@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');

@keyframes load{
    10%{transform: scale(0.99);}
    20%{transform: scale(0.98);}
    30%{transform: scale(0.97);}
    40%{transform: scale(0.96);}
    50%{transform: scale(0.95);}
    60%{transform: scale(0.96);}
    70%{transform: scale(0.97);}
    80%{transform: scale(0.98);}
    90%{transform: scale(0.99);}
    95%{transform: scale(1);}
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    /* background: rgb(225, 231, 142); */
    background-color: #FCFAF9;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 100vh;
    overflow-y: hidden;

}


#preloader {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#preloader #preloader-img{
    width: max-content;
    height: 40%;
    background-color: black;
    filter: none;
    animation-name: load;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-delay: 0.2s;
    animation-direction: alternate-reverse;
    transition: transform 0.2s ease;
}

header{
    height: 60px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    background-color: #333333;
    color: white;
    z-index: -2;
    overflow: hidden;
}

header .logo{
    background: url(webp/logo.webp);
    width: 150px;
    height: 150px;
    background-size: cover;
    transform: translateX(25px) translateY(-40px);
}




header .navbar{
    transform: translateY(22px) translateX(-35px);
}

header .navbar .btn a{
    color: white;
    font-family: 'Tektur', cursive;
    z-index: 5;
    font-size: large;
}


header .navbar .btn{
    padding: 2px 8px;
    background: transparent;
    outline: none;
    border: none;
    position: relative;
    z-index: 1;
    padding: 5px 10px;
}

header .navbar .btn::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #252525;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.1s ease;
    transform-origin: left;
    border-radius: 5px;

}

header .navbar .btn:hover::before{
    opacity: 1;
}

footer{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 27, 27);
    height: 70px;
}

footer a{
    margin: 1rem;
    color: gray;
}

footer a i{
    font-size: 1.5rem;
}

main{
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}




img{
    height: 10%;
    width: 30%;
    margin: 20px;
    border-radius: 2px;
    filter: drop-shadow(1px 1px 10px rgb(168, 168, 168));
}

@media (max-width: 400px){


    img{
        width: 90%;
        
    }

    

    header .navbar .btn a{
        font-size: 10px;
    }

    

    header{
        height: 45px;
    }


    header .navbar{
        transform:  translateY(20px) translateX(-20px);
    }

    header .logo{
        height: 100px;
        width: 100px;
        transform: translateX(-10px) translateY(-22px);
    }
}




